<!DOCTYPE html>
<html lang="en">
<head>
  <title>AuthWizard - Email Verification</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
    <br>
    <div class="jumbotron text-center">
        <h1 style="color:#40a7ff">AuthWizard</h1>      
        p= message
    </div>     
    </div>
</body>
</html>